.committee-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}

.photo {
  border-radius: 50%;
  width: 20rem;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
}

.committee-box {
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  font-size: 30px;
  padding: 10px;
  background: linear-gradient(to bottom right, #ffffff4d, #dbecff);
  backdrop-filter: blur(4px);
}

.photo-and-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center; /* optional for centering horizontally */
}

.committee-text {
  flex-direction: column; /* not required, but in case you want stacked text inside */
  display: flex;
}
